# Python Basics Assignment_1

1.In the below elements which of them are values or an expression? eg:- values can be
   integer or string and expressions will be mathematical operators.
   
   *

   'hello'

   -87.8
 
   -

   /

   +

   6

Ans:  The values are 'hello', -87.8, 6 and the expressions are *, -, /, +.

2.What is the difference between string and variable?

Ans: String is data type in python.It is ordered sequence of characters enclosed in single or double quotes (e.g: "Dev" or 'Dev').
     In addition they can also include numbers and special characters.
     One the other hand variable is a name inside which value can be store in a memory location. For example: x = 10, where      x is a variable.

3.Describe three different data types.

Ans: Data types is classification of data items. It tells what operation can be performed on data items.
     Three type of data types explain in below.
     
     (1). String: It is ordered sequence of characters enclosed in single or double quotes.
     (2). List: It is also ordered sequences that can hold a variety of objects types. List support indexing and slicing.
                It is mutable and written with square bracket. E.g: [9, 8, "Dev", 8.8]
     (3). Tuples: It is also ordered collection of data type. There is only one difference that it is immutable and written 
                  by round bracket. E.g: (7, 4, 6, 9)

4.What is an expression made up of? What do all expressions do?

Ans: An expression is basically made of values and operators and always evaluates down to a single value.
     
     For example: a = 1+1 this is expression.
                  a = 2
                  Where 1 is integer value and + is mathematical operators. This expression evaluates to single value.

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans. While expression is made up of values, containers, and operators and evaluates new value and if it does not do nothing 
     is called statement.

6.After running the following code, what does the variable bacon contain?

   bacon = 22

   bacon + 1

Ans: It gives 23 after the execution of code.

In [1]:
bacon = 22

bacon + 1

23

7.What should the values of the following two terms be?

   'spam' + 'spamspam'

   'spam' * 3

Ans. It will be same.

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

8.Why is eggs a valid variable name while 100 is invalid?

Ans. According to python rule variable name can not start with integer. Therefore 100 is invalid variable name.

9.What three functions can be used to get the integer, floating-point number, or string
   version of a value?

Ans. For integer: int()
     
     For floating number: float()
     
     For string: str()

10.Why does this expression cause an error? How can you fix it?
    
    'I have eaten'+ 99 + 'burritos.'

Ans. Because string can not concatenate with integer. To fix this we need to typcasting the integer to string.

In [4]:
'I have eaten '+ str(99) + ' burritos.'

'I have eaten 99 burritos.'